/dist
/bin
/.vs
.vscode/launch.json
.vscode/tasks.json
node_modules/
obj
obj/Debug/netcoreapp2.1/Foha.csproj.AssemblyReference.cache
obj/Debug/netcoreapp2.1/Foha.dll
obj/Debug/netcoreapp2.1/Foha.pdb
obj/Debug/netcoreapp2.1/Foha.assets.cache
obj/Debug/netcoreapp2.1/Foha.assets.cache
appsettings.json
obj/
obj/Debug/netcoreapp2.1/Foha.csproj.AssemblyReference.cache
obj/Debug/netcoreapp2.1/Foha.dll
obj/Debug/netcoreapp2.1/Foha.pdb
/obj