/dist
/bin
/.vs
.vscode/launch.json
.vscode/tasks.json
node_modules/
obj
obj/
/obj
appsettings.json
global.json
obj/Debug/netcoreapp2.1/Foha.dll
obj/Debug/netcoreapp2.1/Foha.pdb
obj/Debug/netcoreapp2.1/Foha.assets.cache
obj/Debug/netcoreapp2.1/Foha.csproj.AssemblyReference.cache
obj/Debug/netcoreapp2.1/project.razor.json
obj/Foha.csproj.nuget.dgspec.json
obj/Foha.csproj.nuget.g.props
obj/Foha.csproj.nuget.g.targets
obj/project.assets.json

