
<h3  align="center">¿Desea continuar?</h3>
<h4 >Intercambio a Realizar:</h4>
<mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="center center" style="margin:10px;">
        <div>
            <mat-chip-list>
                <mat-chip *ngFor="let oS of originSelection"
                 id="chip" align="center" >
                OT:{{oS.oTe}} || OP:{{oS.oPe}} || Rg: {{oS.rangoInicio}} 
                </mat-chip>
            </mat-chip-list>
        </div>
        <div>
            <button *ngFor="let oS of originSelection" mat-mini-fab style="background-color:cornflowerblue;color:white;display:block">
                <mat-icon>swap_horiz</mat-icon>    
            </button>
        </div>
        <div>
            <mat-chip-list>
                <mat-chip
                    *ngFor="let aS of arriveSelection" id="chip" align="center">
                    OT:{{aS.oTe}} || OP:{{aS.oPe}} || Rg: {{aS.rangoInicio}} 
                </mat-chip>
                </mat-chip-list>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial style="background-color: teal;color:white;">Aceptar</button>
</mat-dialog-actions>


