<mat-card mat-dialog-title class="titulo">
    <mat-card-header>
        <mat-card-title style="line-height:60px;">Intercambio de transformadores</mat-card-title>
    </mat-card-header>
    <br>
</mat-card>

<div fxLayout="row" fxLayoutAlign="space-between center">
    <!-- <div *ngFor="let a of selection">{{a.idTransfo}}</div> -->
    <div fxFlex="50">
        <app-from (selectionEvent)="receiveSelected($event)"></app-from>
    </div>
    <div *ngIf="originSelection.length>0" fxFlex="45">
        <app-to (arriveSelectionEvent)="sendSelection($event)"></app-to>
    </div>
    
</div>
