
<mat-card class="titulo">
    <mat-card-header>
        <mat-card-title style="line-height:60px;">Procesos</mat-card-title>
    </mat-card-header>
    <br>
</mat-card>

  <div style="padding-top:30px">
      
    <form [formGroup]="form" class="search__form">
      <mat-form-field class="search__form_field" appearance="outline">
        <mat-label>OT</mat-label>
        <input type="text"
              
              matInput
              formControlName="oTe"
              
              (keydown.enter)="function($event)"
        >
      </mat-form-field>
      <mat-form-field class="search__form_field" appearance="outline">
        <mat-label>OP</mat-label>
        <input type="text"
              
              matInput
              formControlName="oPe"
              
              (keydown.enter)="function($event)"
              
        >
      </mat-form-field>
      <mat-form-field class="search__form_field" appearance="outline">
        <mat-label>Rango</mat-label>
        <input type="text"
              
              matInput
              formControlName="rangoInicio"
              
              (keydown.enter)="function($event)"
        >
      </mat-form-field>
      <mat-form-field class="search__form_field" appearance="outline">
        <mat-label>Potencia</mat-label>
        <input type="text"
              
              matInput
              formControlName="potencia"
              
              (keydown.enter)="function($event)"
        >
      </mat-form-field>
      <mat-form-field class="search__form_field" appearance="outline">
        <mat-label>Nº de proceso</mat-label>
        <input type="text"
              
              matInput
              formControlName="nProceso"
              
              (keydown.enter)="function($event)"
        >
      </mat-form-field>
      <mat-form-field class="search__form_field-especial" appearance="outline">
        <mat-label>Observaciones</mat-label>
        <input type="text"
        
        (keydown.enter)="function($event)"
              matInput
              formControlName="observaciones"
            
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
      <mat-label>Elija el mes</mat-label>
        <mat-select [compareWith]="compareObjects" formControlName="month" multiple >
          <mat-option *ngFor="let m of months" [value]="m" >
            {{m.mes}} de {{m.anio}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="clean()" color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>backspace</mat-icon>
      </button>
      <button mat-icon-button (click)="applyApiFilter()" color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>search</mat-icon>
      </button>
    </form>

</div> 
 
<div>
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div *ngIf="!isLoadingResults" class="example-container mat-elevation-z8" style="height: 600px;">
    <table mat-table [dataSource]="dataGetTrafos" >
      <ng-container matColumnDef="select" style="padding-right:5px;">
        <th mat-header-cell [hidden]="!selectColumn" *matHeaderCellDef>
        </th>
        <td mat-cell [hidden]="!selectColumn" *matCellDef="let row">
          <mat-checkbox #c [checked]="selection.isSelected(row)" (change)="$event ? selection.toggle(row) : null">
          </mat-checkbox>
        </td>
      </ng-container>
        <ng-container *ngFor="let column of displayedColumns2" sticky matColumnDef="{{column}}">  
            <th mat-header-cell *matHeaderCellDef matTooltip={{tooltipTrafo(column)}} matTooltipPosition="above" style="padding:5px!important; text-align: center;border-bottom-color: black!important;border-bottom-width:2.5px!important;" >{{encabezadosTrafo(column)}}</th>
            <td mat-cell *matCellDef="let element" style="min-width:60px;"> {{column=='fechaPactada'|| column=='fechaProd' ? (element[column] | date:'dd/MM/yyyy') : column =='oPe' ? op(element[column]) : (element[column])}} </td>
        </ng-container>
        <ng-container *ngFor="let column of etapasColumns;" matColumnDef="{{column}}" >
            <th mat-header-cell *matHeaderCellDef [style.border-left]="(column=='BT1' || column=='AT1' || column=='RG1' || column=='RF1' || column=='ENS' ) ? '2px solid rgba(56,56,56,0.60)' :((column=='DOC') ? '2.5px solid rgb(56,56,56)' : '0')" style="padding-left:10px!important;border-bottom-width:1.5px;border-bottom-color: rgba(0,0,0,0.5)!important;" matTooltip={{toolTipEtapas(column)}} matTooltipPosition="above">{{column}}</th>
            <td mat-cell *matCellDef="let element">
              <etapa-column-component2 [etapa]="getEtapa(element, column)" (procesoSelected)="selected($event)">
                
              </etapa-column-component2>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="allColumns;sticky: true" ></tr>
          <tr mat-row *matRowDef="let row; columns: allColumns;"></tr>
      
          <ng-container matColumnDef="groupHeader">
              <td mat-cell *matCellDef="let row" colspan="999" style="width:100%;background-color:rgb(247,150,70)!important;text-align:left"><div><strong>{{row.group}}</strong></div></td>
          </ng-container>
      
          <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"></tr>
    </table>
  </div>
  <mat-paginator style="display:flex;" (page)="getEvent($event)" [pageSizeOptions]="[100, 200, 300]" showFirstLastButtons></mat-paginator>
  <div align="end" id="top" style="z-index:1000">
    <button mat-icon-button style="color:white;background-color:teal;" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="selection.selected.length>0">
      <mat-icon>checklist</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="above">
      <button style="margin:0" *ngFor="let a of selection.selected" mat-menu-item (click)="deselect($event,a)"><mat-icon>close</mat-icon>OP:{{a.oPe}} | OT:{{a.oTe}} | rg:{{a.rangoInicio}}</button>
    </mat-menu>
    
    <!-- <div id="circularMenu" class="circular-menu" style="z-index:5000;" *ngIf="selection.selected.length>0">
      <button mat-mini-fab class="floating-btn"  onclick="document.getElementById('circularMenu').classList.toggle('active');" matTooltip="ver selección">
        <mat-icon>checklist</mat-icon>
        
      </button>
      <menu class="items-wrapper">
        <span class="menu-item">
          <mat-chip-list >
            <mat-chip *ngFor="let a of selection.selected" style="background-color:teal;color:white;height:fit-content;width:fit-content">OP:{{a.oPe}} | OT:{{a.oTe}} | rg:{{a.rangoInicio}}</mat-chip>
          </mat-chip-list>
          <div>
          </div>
        </span>
      </menu>-->
    <!-- </div> -->
    <div *ngIf="showMulti">
      <button *ngIf="selectColumn && selection.selected.length>0" mat-mini-fab style="background-color: teal;color:whitesmoke" (click)="multiProcess()">
        <mat-icon>mode</mat-icon>
      </button>
    </div>
    <div *ngIf="showMulti">
      <button mat-mini-fab style="background-color: teal;color:whitesmoke" (click)="showOrHide()">
        <mat-icon *ngIf="!selectColumn">visibility</mat-icon>
        <mat-icon *ngIf="selectColumn">visibility_off</mat-icon>
      </button>
    </div>
    <div>
      <button mat-mini-fab matTooltip="Chequear estado horno" style="background-color: teal;color:whitesmoke" (click)="checkFurnace()">
        <mat-icon>running_with_errors</mat-icon>
      </button>
    </div>
    <div>
      <button mat-mini-fab matTooltip="Recargar tabla" style="background-color: teal;color:whitesmoke" (click)="getTrafos()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <div>
      <button mat-mini-fab style="background-color: teal;color:whitesmoke;right:0;" matTooltip="ir al inicio" (click)="moveUp()">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </div>
    
  </div>
</div>

<br>
<app-reloj-multiple id="multi" [multiProcessTrafoSelected]="trafoSelected" (multiProcessUpdated)="multiProcessUpdated($event)" (multiProcessFinished)="multiProcessFinished($event)" *ngIf="trafoSelected!=null" ></app-reloj-multiple>
<app-reloj   *ngFor="let timer of timers" (procesoUpdated)="procesoUpdated($event)" [procesoSelected]="procesoElegido"></app-reloj>
<div style="margin-bottom:100px;margin-top:100px;"></div>





