<div class="example-container mat-elevation-z8">
    
    <button mat-mini-fab color="primary" matTooltip="agregar empleado" (click)="addSelect()" >
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-mini-fab color="warn" *ngIf="arr.length>1" style="color:white;" matTooltip="eliminar empleado" (click)="removeSelect()" >
        <mat-icon>clear</mat-icon>
    </button>
    
    <br>
    <div *ngIf="message!=''" class="popupMessage">
        <div style="text-align: center;">
            <mat-icon (click)="message=''" style="color:red;">clear</mat-icon>
        </div>
        <p class="message">
            {{message}}
        </p>
    </div>
    <br>
    <mat-card style="width:90vw;">
        
        
        <div>
            <h3 class="encabezado">Transformador elegido:</h3>
            <button mat-button style="background-color:steelblue;color:white;">OT:{{trafoAssigned.oTe}}</button>
            <button mat-button style="background-color:steelblue;color:white;">OP:{{trafoAssigned.oPe}}</button>
            <button mat-button style="background-color:steelblue;color:white;">Rango: {{trafoAssigned.rangoInicio}}</button>
            <br>
            <button mat-button style="background-color:steelblue;color:white;">Cliente: {{trafoAssigned.nombreCli}}</button>
        </div>
        <mat-card-content>
            <h3 class="encabezado">Proceso:</h3>
            <button mat-button style="background-color:steelblue;color:white;">{{encabezadosEtapas(tipoEtapaSelected)}}</button>
            <br>
            <h4 class="encabezado">Nº de referencia:</h4>
            <span *ngIf="numEtapa!=0">
                <button mat-raised-button style="background-color:steelblue;color:white">
                    {{numEtapa}}
                </button>
            </span>
            <span *ngIf="numEtapa==0 || numEtapa==null">
                <button mat-raised-button color="warn">
                    Sin nº
                </button>
            </span>
            <h4 class="encabezado">Observacion:</h4>
            <span>
                <button mat-raised-button style="background-color:steelblue;color:white">
                    {{observacion}}
                </button>
            </span>
            <span *ngIf="observacion=='' || observacion==null">
                <button mat-raised-button color="secondary">
                    Sin observacion
                </button>
            </span>
            <div>últimos empleados asignados:</div>
            <div *ngFor="let a of empleadosProcesoPausado" style="display:inline;">
                <button mat-raised-button style="background-color: teal;color:white;">
                    Legajo:{{a.id}} | nombre: {{a.nombreEmpleado}}
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <br>
    <br>
    <mat-grid-list cols="2" rowHeight="100px" style="width:90vw!important;">
        <mat-grid-tile colspan="1">
            <mat-form-field id="ref" appearance="outline">
                <mat-label>Nº de referencia para el proceso elegido</mat-label>
                <input matInput placeholder="Referencia" (change)="numeroEtapa($event)" [(ngModel)]="numEtapa" type="number">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <mat-form-field id="ref" appearance="outline">
                <mat-label>Observaciones</mat-label>
                <input matInput placeholder="Observacion" (change)="setObservacion($event)" [(ngModel)]="observacion" type="text">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <mat-form-field *ngFor="let f of arr;let i=index" id="nuevoEmpleado" appearance="outline">
                <mat-label>Empleado {{i+1}}</mat-label>
                    <mat-select [(value)]="arr[i].value" (selectionChange)="change(arr[i],i)">
                        <mat-option *ngFor="let g of comboEmpleados" [value]="g">
                            {{g.value}}
                        </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <div style="display:inline; padding-left:35px;">
                <button mat-raised-button  *ngIf="!showButtons" [disabled]="play==false" [ngClass]="{'disabledButton': play==false}" style="background-color:teal;color:white;" id="start" (click)="start()" >
                    Inicio
                </button>
                <button mat-raised-button  *ngIf="!showButtons" id="pause" [disabled]="class==false" style="background-color:yellow;"  [ngClass]="{'disabledButton': class==false}" (click)="pause()" >
                    Pausa
                </button>
                <button mat-raised-button *ngIf="!showButtons" id="stop" [disabled]="isStop==false" color="warn"  [ngClass]="{'disabledButton': isStop==false}" (click)="stop()" >
                    Fin
                </button>
                <button mat-raised-button *ngIf="showButtons" id="finalizar" style="background-color:teal;color:white" (click)="finalizar()" >
                    Finalizar 
                </button>
                <button mat-raised-button *ngIf="play==false" id="addOnTheGo" style="background-color:royalblue;color:white" [disabled]="isStop==false" [ngClass]="{'disabledButton': isStop==false}" (click)="addOnTheGo()" >
                    <mat-icon>group_add</mat-icon>
                </button>
            </div>
        </mat-grid-tile>
    </mat-grid-list> 
    <br>
    
    </div>
    
