<h1 mat-dialog-title>{{titulo}}</h1>

<mat-dialog-content style="height:100%;width:380px" >
  <br>
  <form [formGroup]="form" style="width:100%;display: grid;">
      <mat-form-field appearance="outline">
        <mat-label>potencia</mat-label>

        <input matInput
                placeholder="potencia"
               formControlName="potencia" [errorStateMatcher]="matcher" type="number">
        <mat-error *ngIf="!form.hasError('required')">
          La potencia es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
    
    
    <mat-form-field appearance="outline">
      <mat-label>nucleo</mat-label>
      <input matInput
                placeholder="nucleo"
               formControlName="nucleos" [errorStateMatcher]="matcher" type="text">
      <mat-error *ngIf="!form.hasError('required')">El nucleo es<strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    
    
    <mat-form-field appearance="outline">
      <mat-label>oP</mat-label>
      <input matInput
                placeholder="op"
               formControlName="oPe" [errorStateMatcher]="matcher" type="text">
      <mat-error *ngIf="!form.hasError('required')">
        El op es<strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    
    

    <mat-form-field appearance="outline">
      <mat-label>Cantidad de transformadores a agregar</mat-label>
      <input matInput
                placeholder="cantidad"
               formControlName="cantidad" [errorStateMatcher]="matcher" type="number">
      <mat-error *ngIf="!form.hasError('required')">
        La cantidad es<strong>requerida</strong>
    </mat-error>
    </mat-form-field>
    <mat-checkbox class="example-margin" style="margin:auto;" [(ngModel)]="checked" [ngModelOptions]="{standalone: true}">¿Desea ingresar el rango?</mat-checkbox>
    
    <mat-form-field appearance="outline" *ngIf="checked==true">
      <mat-label>Rango</mat-label>
      <input matInput
                placeholder="Rango"
               formControlName="rangoInicio" type="number" (blur)="onBlur()">
               
    </mat-form-field>
    <div [ngClass]="foundedValue!='' ? 'error-message' : 'none-error-message' ">{{foundedValue}}</div>
    
    <mat-form-field appearance="outline">
      <mat-label>oT</mat-label>
      <input matInput
                placeholder="ot"
               formControlName="oTe" [errorStateMatcher]="matcher" type="number">
    </mat-form-field>
    
    
    <mat-form-field appearance="outline">
      <mat-label>Tipo de Transformador</mat-label>
      <mat-select #idTipoTransfo  (selected)="changeTipoTransfo($event.value)" formControlName="idTipoTransfo">
        <mat-option *ngFor="let valueTransfo of tipoTransfo" [value]="valueTransfo.idTipoTransfo" >
          {{valueTransfo.nombreTipoTransfo  }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <div>
      <mat-form-field appearance="outline" style="width:85%;">
        <mat-label>Elegir cliente</mat-label>
        <input type="text" matInput formControlName="f" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option (onSelectionChange)="selectedClient($event)" *ngFor="let f of filteredOptions | async" [value]="f">
            {{f.value}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-mini-fab style="background-color:teal;float:right;" matTooltip="agregar clientes" (click)="addCliente()"><mat-icon>add</mat-icon></button>
    </div>

    
    <mat-form-field appearance="outline">
      <mat-label>Vendedores</mat-label>
      <mat-select formControlName="idVendedor">
        <mat-option *ngFor="let vendedor of vendedores" [value]="vendedor.idVendedor" >
          {{vendedor.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>R/P</mat-label>
      <mat-select  formControlName="radPan">
        <mat-option *ngFor="let rP of radPanArray" [value]="rP" >
          {{rP}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-checkbox class="example-margin" style="margin:auto;" [(ngModel)]="checkedDate" [ngModelOptions]="{standalone: true}">¿Desea ingresar fecha de Producción?</mat-checkbox>
    
    <mat-form-field appearance="outline" *ngIf="checkedDate">
      <mat-label>Fecha de producción</mat-label>
      <input matInput [matDatepicker]="fechaProd" formControlName="fechaProd" (dateInput)="changeDate()" (dateChange)="changeDate()">
      <mat-datepicker-toggle matSuffix [for]="fechaProd"></mat-datepicker-toggle>
      <mat-datepicker #fechaProd disabled="false"></mat-datepicker>
    </mat-form-field>
    <div *ngIf="fprOlderfot==true" style="width:91%" [ngClass]="fprOlderfot==true ? 'error-message' : 'none-error-message' ">Fecha de Producción mayor a Fecha según OT</div>


    
    
    <mat-form-field appearance="outline" *ngIf="checkedDate">
      <mat-label>Fecha Pactada</mat-label>
      <input matInput [matDatepicker]="fechaPactada" formControlName="fechaPactada" (dateInput)="changeDate()" (dateChange)="changeDate()">
      <mat-datepicker-toggle matSuffix [for]="fechaPactada"></mat-datepicker-toggle>
      <mat-datepicker #fechaPactada disabled="false"></mat-datepicker>
    </mat-form-field>
    
    
    <mat-form-field appearance="outline">
      <mat-label>observaciones</mat-label>
      <input matInput
                placeholder="observaciones"
               formControlName="observaciones" [errorStateMatcher]="matcher" type="text">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions style="float:right;">
  <button class="mat-raised-button" (click)="close()">Cancelar</button>
  <button class="mat-raised-button mat-primary" style="background-color: teal;" [mat-dialog-close]="true" (click)="saveTrafo()">{{labelButton}}</button>
</mat-dialog-actions>
