<h1 mat-dialog-title>{{titulo}}</h1>
<div mat-dialog-content>
  <h3>
    {{header}}
  </h3>
  <div *ngFor="let transfo of transfoArray">
    <span style="color:cadetblue">OP:{{transfo.oPe}}</span>&nbsp;
    <span style="color:coral">OT:{{transfo.oTe}}</span>&nbsp;
    <span style="color:cornflowerblue">Rango:{{transfo.rangoInicio}}</span>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button class="mat-raised-button" mat-dialog-close>Cancelar</button>
  <button *ngIf="labelButton=='Borrar'" class="mat-raised-button mat-primary" style="background-color: teal;" (click)="deleteTrafos()">{{labelButton}}</button>
  <button *ngIf="labelButton=='Confirmar'" class="mat-raised-button mat-primary" style="background-color: teal;" (click)="confirmDeleteTrafos()">{{labelButton}}</button>
</div> 