<h1 mat-dialog-title>{{titulo}}</h1>

<mat-dialog-content style="height:100%;width:350px;">
  <br>
  <form [formGroup]="form" style="width:100%;display:grid;">
      <mat-form-field appearance="outline">
        <mat-label>potencia</mat-label>

        <input matInput
                placeholder="potencia"
               formControlName="potencia" [errorStateMatcher]="matcher" type="number">
        <mat-error *ngIf="!form.hasError('required')">
          La potencia es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>oP</mat-label>
      <input matInput
                placeholder="op"
               formControlName="oPe" [errorStateMatcher]="matcher" type="text">
      <mat-error *ngIf="!form.hasError('required')">
        El op es<strong>requerido</strong>
    </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>oT</mat-label>
      <input matInput
                placeholder="ot"
               formControlName="oTe" [errorStateMatcher]="matcher" type="number">
      <mat-error *ngIf="!form.hasError('required')">
        El ot es<strong>requerido</strong>
    </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>rango</mat-label>
      <input matInput
                placeholder="rango"
               formControlName="rangoInicio" [errorStateMatcher]="matcher" type="number" (blur)="onBlur()">
    </mat-form-field>
    <div [ngClass]="foundedValue!='' ? 'error-message' : 'none-error-message' ">{{foundedValue}}</div>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Nucleos</mat-label>
      <input matInput
                placeholder="nucleos"
               formControlName="nucleos" type="text">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Tipo de Transformador</mat-label>
      <mat-select #idTipoTransfo formControlName="idTipoTransfo">
        <mat-option *ngFor="let valueTransfo of tipoTransfo" [value]="valueTransfo.idTipoTransfo" >
          {{valueTransfo.nombreTipoTransfo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Elegir cliente</mat-label>
        <input type="text" matInput formControlName="f" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let f of filteredOptions | async" [value]="f">
            {{f.value}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button [disabled]="this.form.controls['f'].disabled" mat-mini-fab style="background-color:teal;float:right;" matTooltip="agregar clientes" (click)="addCliente()"><mat-icon>add</mat-icon></button>
    </div>
    
    <mat-form-field appearance="outline">
      <mat-label>R/P</mat-label>
      <input matInput
                placeholder="R/P"
               formControlName="radPan" [errorStateMatcher]="matcher" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>lote</mat-label>
      <input matInput
              placeholder="lote"
              formControlName="lote" [errorStateMatcher]="matcher" type="text">
      <!-- <mat-error *ngIf="!form.hasError('required')">El nucleo es<strong>requerido</strong> -->
      <!-- </mat-error> -->
  </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Fecha de producción</mat-label>
      <input matInput [matDatepicker]="fechaProd" formControlName="fechaProd" (dateInput)="changeDate($event,true)" (dateChange)="changeDate($event,true)">
      <mat-datepicker-toggle matSuffix [for]="fechaProd"></mat-datepicker-toggle>
      <mat-datepicker #fechaProd [disabled]="this.form.controls['f'].disabled"></mat-datepicker>
    </mat-form-field>
    <div *ngIf="fprOlderfot==true" style="width:91%" [ngClass]="fprOlderfot==true ? 'error-message' : 'none-error-message' ">Fecha de Producción mayor a Fecha según OT</div>
    
    <mat-form-field appearance="outline">
      <mat-label>Fecha Pactada</mat-label>
      <input matInput [matDatepicker]="fechaPactada" formControlName="fechaPactada" (dateInput)="changeDate($event,false)" (dateChange)="changeDate($event,false)">
      <mat-datepicker-toggle matSuffix [for]="fechaPactada"></mat-datepicker-toggle>
      <mat-datepicker #fechaPactada [disabled]="this.form.controls['f'].disabled"></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>observaciones</mat-label>
      <input matInput
                placeholder="observaciones"
               formControlName="observaciones" [errorStateMatcher]="matcher" type="text">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions style="float:right;">
    <button class="mat-raised-button" (click)="close()">Cancelar</button>
    <button class="mat-raised-button mat-primary" [style.background-color]="this.form.controls['f'].disabled ? 'red' : 'teal'" *ngIf="enabled" [mat-dialog-close]="true" (click)="save()">{{labelButton}}</button>
</mat-dialog-actions>
